.smartJourneyPlannerWorklistTiles.sapMGT {
	background-size: cover;
	height: 12rem;
	width: 12rem;
}

.smartJourneyPlannerWorklistTiles .sapMGTHdrTxt>.sapMText {
	color: white;
}

.smartJourneyPlannerStationDropDowns .sapMInputBaseContentWrapper {
    border-radius: 0.5rem;
}

.smartJourneyPlannerIconTabBar .sapMITBHead {
	margin: 0rem;
}

.smartJourneyPlannerIconTabBar .sapMITH {
	background-color: transparent;
}

.smartJourneyPlannerIconTabBar .sapMITBVertical.sapMITBFilter>.sapMITBText,
.smartJourneyPlannerIconTabBar .sapMITBContentArrow {
	background-color: transparent;
}

.smartJourneyPlannerIconTabBar.sapUiMedia-Std-Desktop .sapMITH.sapUiResponsiveContentPadding .sapMITBScrollContainer, 
.smartJourneyPlannerIconTabBar.sapUiMedia-Std-Desktop .sapMITB.sapUiResponsiveContentPadding .sapMITBScrollContainer {
	margin-left: 0;
}

.smartJourneyPlannerNormalFare.sapMFlexBoxWrapNoWrap {
	border-style: groove;
	align-items: center;
	border-radius: 0.4rem;
}

.smartJourneyPlannerJourneyStation.sapMFlexBoxWrapNoWrap {
	border-style: groove;
	align-items: center;
	border-radius: 0.7rem;
	margin-right: 0.2rem;
}

.smartJourneyPlannerNormalFareColor.sapMFlexBoxWrapNoWrap {
	background-color: #66FF66;
}

.smartJourneyPlannerTimeColor.sapMFlexBoxWrapNoWrap {
	background-color: gainsboro;
}

.smartJourneyPlannerConcessionalFareColor.sapMFlexBoxWrapNoWrap {
	background-color: orange;
}

.smartJourneyPlannerNormalFareText.sapMText {
	font-size: 1.1rem;
}

.smartJourneyPlannerNormalFareDescription.sapMText {
	font-size: 0.7rem;
}

.smartJourneyPlannerJourneyInterChangeStation.sapMText {
	color: red;
}

.smartJourneyPlannerJourneyEmptyVBox.sapMText {
	font-size: 1.2rem;
	color: red;
}

.smartJourneyPlannerJourneyRoute.sapMText {
	font-size: 1.2rem;
}

.smartJourneyPlannerIconTabBar .sapMITBTextOnly .sapMITBFilterDefault.sapMITBSelected>.sapMITBText {
    font-weight: bold;
    font-size: medium;
}

.smartJourneyPlannerJourneyRouteLine.sapMFlexBoxWrapNoWrap {
	border-style: solid;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    border-bottom-width: .25rem;
}

.smartJourneyPlannerProcessIcon .sapMFlexBoxWrapNoWrap {
	align-items: center;
}

.smartJourneyPlannerJourneyRouteLineRedColor.sapMFlexBoxWrapNoWrap {
	border-bottom-color: red;
}

.smartJourneyPlannerJourneyRouteLineGreenColor.sapMFlexBoxWrapNoWrap {
	border-bottom-color: limegreen;
}

.smartJourneyPlannerJourneyRouteLineYellowColor.sapMFlexBoxWrapNoWrap {
	border-bottom-color: #E09D00;
}

.smartJourneyPlannerJourneyRouteLineBlueColor.sapMFlexBoxWrapNoWrap {
	border-bottom-color: blue;
}

.smartJourneyPlannerJourneyRouteLineVioletColor.sapMFlexBoxWrapNoWrap {
	border-bottom-color: darkviolet;
}

.smartJourneyPlannerJourneyRouteLineOrangeColor.sapMFlexBoxWrapNoWrap {
	border-bottom-color: darkorange;
}

.smartJourneyPlannerJourneyRouteLinePinkColor.sapMFlexBoxWrapNoWrap {
	 border-bottom-color: deeppink;
}

.smartJourneyPlannerIconRedColor .sapUiIcon {
	color: red;
	margin-top: 0.2rem;
}

.smartJourneyPlannerIconBlueColor .sapUiIcon {
	color: blue;
	margin-top: 0.2rem;
}

.smartJourneyPlannerIconOrangeColor .sapUiIcon {
	color: darkorange;
	margin-top: 0.2rem;
}

.smartJourneyPlannerIconVioletColor .sapUiIcon {
	color: darkviolet;
	margin-top: 0.2rem;
}

.smartJourneyPlannerIconPinkColor .sapUiIcon {
	color: deeppink;
	margin-top: 0.2rem;
}

.smartJourneyPlannerIconYellowColor .sapUiIcon {
	color: #E09D00;
	margin-top: 0.2rem;
}

.smartJourneyPlannerIconGreenColor .sapUiIcon {
	color: limegreen;
	margin-top: 0.2rem;
}

.smartJourneyPlannerOuterCircle.sapMFlexBoxWrapNoWrap {
	border-style: solid;
    border-radius: 5rem;
    border-width: 0.1rem;
}

.smartJourneyPlannerGreenColorInnerCircle.sapMFlexBoxWrapNoWrap {
	border-style: solid;
    border-radius: 5rem;
    background-color: white;
    border-width: 0.3rem;
    border-color: limegreen;
}

.smartJourneyPlannerRedColorInnerCircle.sapMFlexBoxWrapNoWrap {
	border-style: solid;
    border-radius: 5rem;
    background-color: white;
    border-width: 0.3rem;
    border-color: red;
}

.smartJourneyPlannerBlueColorInnerCircle.sapMFlexBoxWrapNoWrap {
	border-style: solid;
    border-radius: 5rem;
    background-color: white;
    border-width: 0.3rem;
    border-color: blue;
}

.smartJourneyPlannerOrangeColorInnerCircle.sapMFlexBoxWrapNoWrap {
	border-style: solid;
    border-radius: 5rem;
    background-color: white;
    border-width: 0.3rem;
    border-color: darkorange;
}

.smartJourneyPlannerVioletColorInnerCircle.sapMFlexBoxWrapNoWrap {
	border-style: solid;
    border-radius: 5rem;
    background-color: white;
    border-width: 0.3rem;
    border-color: darkviolet;
}

.smartJourneyPlannerPinkColorInnerCircle.sapMFlexBoxWrapNoWrap {
	border-style: solid;
    border-radius: 5rem;
    background-color: white;
    border-width: 0.3rem;
    border-color: deeppink;
}

.smartJourneyPlannerYellowColorInnerCircle.sapMFlexBoxWrapNoWrap {
	border-style: solid;
    border-radius: 5rem;
    background-color: white;
    border-width: 0.3rem;
    border-color: #E09D00;
}

.smartJourneyPlannerInnerCircle.sapMHBox {
	margin: 0.15rem;
}