.smartJourneyPlannerWorklistTiles.sapMGT {
	background-size: cover;
	height: 12rem;
	width: 12rem;
}

.smartJourneyPlannerWorklistTiles .sapMGTHdrTxt>.sapMText {
	color: white;
}

.smartJourneyPlannerStationDropDowns .sapMInputBaseContentWrapper {
    border-radius: 0.5rem;
}

.smartJourneyPlannerIconTabBar .sapMITBHead {
	margin: 0rem;
}

.smartJourneyPlannerIconTabBar .sapMITH {
	background-color: transparent;
}

.smartJourneyPlannerIconTabBar .sapMITBVertical.sapMITBFilter>.sapMITBText,
.smartJourneyPlannerIconTabBar .sapMITBContentArrow {
	background-color: transparent;
}

.smartJourneyPlannerIconTabBar.sapUiMedia-Std-Desktop .sapMITH.sapUiResponsiveContentPadding .sapMITBScrollContainer, 
.smartJourneyPlannerIconTabBar.sapUiMedia-Std-Desktop .sapMITB.sapUiResponsiveContentPadding .sapMITBScrollContainer {
	margin-left: 0;
}

.smartJourneyPlannerNormalFare.sapMFlexBoxWrapNoWrap {
	border-style: groove;
	align-items: center;
	border-radius: 0.4rem;
}

.smartJourneyPlannerJourneyStation.sapMFlexBoxWrapNoWrap {
	border-style: groove;
	align-items: center;
	border-radius: 0.7rem;
	margin-right: 0.2rem;
}

.smartJourneyPlannerJourneyRouteVBox.sapMFlexBoxWrapNoWrap {
	border-style: groove;
	align-items: start;
	border-radius: 0.7rem;
	margin-right: 0.2rem;
}

.smartJourneyPlannerNormalFareColor.sapMFlexBoxWrapNoWrap {
	background-color: #66FF66;
}

.smartJourneyPlannerTimeColor.sapMFlexBoxWrapNoWrap {
	background-color: gainsboro;
}

.smartJourneyPlannerConcessionalFareColor.sapMFlexBoxWrapNoWrap {
	background-color: orange;
}

.smartJourneyPlannerNormalFareText.sapMText {
	font-size: 1.1rem;
}

.smartJourneyPlannerNormalFareDescription.sapMText {
	font-size: 0.7rem;
}

.smartJourneyPlannerJourneyStationGreenLine.sapMFlexBoxWrapNoWrap {
	background-color: #66FF66;
}

.smartJourneyPlannerJourneyStationRedLine.sapMFlexBoxWrapNoWrap {
	background-color: #FF6666;
}

.smartJourneyPlannerJourneyStationYellowLine.sapMFlexBoxWrapNoWrap {
	background-color: 	#FFFF00;
}

.smartJourneyPlannerJourneyStationPinkLine.sapMFlexBoxWrapNoWrap {
	background-color: #FFB6C1;
}

.smartJourneyPlannerJourneyStationBlueLine.sapMFlexBoxWrapNoWrap {
	background-color: #9999FF;
}

.smartJourneyPlannerJourneyStationOrangeLine.sapMFlexBoxWrapNoWrap {
	background-color: #FFA500;
}

.smartJourneyPlannerJourneyInterChangeStation.sapMText {
	color: #FF6666;
}

.smartJourneyPlannerJourneyStationVioletLine.sapMFlexBoxWrapNoWrap {
	background-color: #B57EDC;
}

.smartJourneyPlannerJourneyGoogleMap.sapMInputBase {
	height: 25rem;
}

.smartJourneyPlannerJourneyEmptyVBox.sapMText {
	font-size: 1.2rem;
	color: red;
}

.smartJourneyPlannerJourneyRoute.sapMText {
	font-size: 1.2rem;
}

.smartJourneyPlannerIconTabBar .sapMITBTextOnly .sapMITBFilterDefault.sapMITBSelected>.sapMITBText {
    font-weight: bold;
    font-size: medium;
}

.smartJourneyPlannerJourneyRouteIcon.sapMFlexBoxWrapNoWrap {
	border-style: groove;
	border-radius: 5rem;
}

.smartJourneyPlannerJourneyRouteLine.sapMFlexBoxWrapNoWrap {
	border-style: solid;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    border-bottom-width: .25rem;
}

.smartJourneyPlannerProcessIcon .sapMFlexBoxWrapNoWrap {
	align-items: center;
}

.smartJourneyPlannerJourneyRouteIconRedColor.sapMFlexBoxWrapNoWrap {
	background-color: red;
}

.smartJourneyPlannerJourneyRouteIconGreenColor.sapMFlexBoxWrapNoWrap {
	background-color: limegreen;
}

.smartJourneyPlannerJourneyRouteIconYellowColor.sapMFlexBoxWrapNoWrap {
	background-color: yellow;
}

.smartJourneyPlannerJourneyRouteLineRedColor.sapMFlexBoxWrapNoWrap {
	border-bottom-color: red;
}

.smartJourneyPlannerJourneyRouteLineGreenColor.sapMFlexBoxWrapNoWrap {
	border-bottom-color: limegreen;
}

.smartJourneyPlannerJourneyRouteLineYellowColor.sapMFlexBoxWrapNoWrap {
	border-bottom-color: yellow;
}

.smartJourneyPlannerJourneyRouteLineBlueColor.sapMFlexBoxWrapNoWrap {
	border-bottom-color: blue;
}

.smartJourneyPlannerJourneyRouteLineVioletColor.sapMFlexBoxWrapNoWrap {
	border-bottom-color: darkviolet;
}

.smartJourneyPlannerJourneyRouteLineOrangeColor.sapMFlexBoxWrapNoWrap {
	border-bottom-color: darkorange;
}

.smartJourneyPlannerJourneyRouteLinePinkColor.sapMFlexBoxWrapNoWrap {
	 border-bottom-color: deeppink;
}

.smartJourneyPlannerIconRedColor .sapUiIcon {
	color: red;
}

.smartJourneyPlannerIconBlueColor .sapUiIcon {
	color: blue;
}

.smartJourneyPlannerIconOrangeColor .sapUiIcon {
	color: darkorange;
}

.smartJourneyPlannerIconVioletColor .sapUiIcon {
	color: darkviolet;
}

.smartJourneyPlannerIconPinkColor .sapUiIcon {
	color: deeppink;
}

.smartJourneyPlannerIconYellowColor .sapUiIcon {
	color: yellow;
}

.smartJourneyPlannerIconGreenColor .sapUiIcon {
	color: limegreen;
}

.smartJourneyPlannerGreenColorOuterCircle.sapMFlexBoxWrapNoWrap {
	border-style: solid;
    border-radius: 5rem;
    background-color: limegreen;
    border-width: 0.1rem;
}

.smartJourneyPlannerRedColorOuterCircle.sapMFlexBoxWrapNoWrap {
	border-style: solid;
    border-radius: 5rem;
    background-color: red;
    border-width: 0.1rem;
}

.smartJourneyPlannerBlueColorOuterCircle.sapMFlexBoxWrapNoWrap {
	border-style: solid;
    border-radius: 5rem;
    background-color: blue;
    border-width: 0.1rem;
}

.smartJourneyPlannerOrangeColorOuterCircle.sapMFlexBoxWrapNoWrap {
	border-style: solid;
    border-radius: 5rem;
    background-color: darkorange;
    border-width: 0.1rem;
}

.smartJourneyPlannerVioletColorOuterCircle.sapMFlexBoxWrapNoWrap {
	border-style: solid;
    border-radius: 5rem;
    background-color: darkviolet;
    border-width: 0.1rem;
}

.smartJourneyPlannerPinkColorOuterCircle.sapMFlexBoxWrapNoWrap {
	border-style: solid;
    border-radius: 5rem;
    background-color: deeppink;
    border-width: 0.1rem;
}

.smartJourneyPlannerYellowColorOuterCircle.sapMFlexBoxWrapNoWrap {
	border-style: solid;
    border-radius: 5rem;
    background-color: yellow;
    border-width: 0.1rem;
}

.smartJourneyPlannerInnerCircle.sapMFlexBoxWrapNoWrap {
	border-style: solid;
    border-radius: 5rem;
    background-color: white;
    border-width: 0.1rem;
}

.smartJourneyPlannerInnerCircle.sapMHBox {
	margin: 0.2rem;
}